| #  | File Name         | Actual Class | Predicted Class | Confidence |
| -- | ----------------- | ------------ | --------------- | ---------- |
| 1  | test_phish_01.png | Phishing     | Legitimate      | 98%        |
| 2  | test_phish_02.png | Phishing     | Legitimate      | 99%        |
| 3  | test_phish_03.png | Phishing     | Phishing        | 99%        |
| 4  | test_phish_04.png | Phishing     | Legitimate      | 96%        |
| 5  | test_phish_05.png | Phishing     | Phishing        | 87%        |
| 6  | test_legit_01.png | Legitimate   | Legitimate      | 100%       |
| 7  | test_legit_02.png | Legitimate   | Legitimate      | 100%       |
| 8  | test_legit_03.png | Legitimate   | Legitimate      | 78%        |
| 9  | test_legit_04.png | Legitimate   | Legitimate      | 87%        |
| 10 | test_legit_05.png | Legitimate   | Legitimate      | 100%       |
